  <footer id="footer" class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Redes Sociales</h6>
                        <ul class="social">
                        <!--  INDIVIDUAL LINKS BETWEEN ICON AND TEXT  
                              <li><%= link_to content_tag(:href, "", :class => "fa fa-map-marker", :id => "contact-icons", :style => "font-size: 1.5em;" ), "https://www.google.com", :target => 
                              "_blank" %>&nbsp &nbsp<%= link_to content_tag(:href, "HELLO", :class => "social"), "https://www.google.com", :target => "_blank" %></li> %> -->
                            <%# <li><a href="https://www.facebook.com/GIANTARABANI" target="_blank"><span style="font-size: 1.5em;"><i class="fa fa-facebook-square"></span></i> &nbsp Facebook</a></li> %>
                            <li>
                              <%= link_to "https://www.facebook.com/GIANTARABANI", :target => "_blank" do %>
                                <%= content_tag(:href, "", :class => "fa fa-facebook-square", :id => "contact-icons", :style => "font-size: 1.5em;" ) %>
                                <span>&nbsp Facebook</span>
                             <% end %>  
                            </li>
                            <%# <li><a href="https://www.instagram.com/giantarabani/" target="_blank"><span style="font-size: 1.5em;"><i class="fa fa-instagram"></span></i> &nbsp Instagram</a></li> %>
                            <li>
                              <%= link_to "https://www.instagram.com/giantarabani", :target => "_blank" do %>
                                <%= content_tag(:href, "", :class => "fa fa-instagram", :id => "contact-icons", :style => "font-size: 1.5em;" ) %>
                                <span>&nbsp Instagram</span>
                             <% end %>  
                            </li>
                            <%# <li><a href="https://www.picuki.com/profile/giantarabani" target="_blank"><span style="font-size: 1.5em;"><i class="fa fa-camera"></span></i> &nbsp Picuki</a></li> %>
                            <li>
                              <%= link_to "https://www.picuki.com/profile/giantarabani", :target => "_blank" do %>
                                <%= content_tag(:href, "", :class => "fa fa-camera", :id => "contact-icons", :style => "font-size: 1.5em;" ) %>
                                <span>&nbsp Picuki</span>
                             <% end %>  
                            </li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Preguntas & Dudas</h6>
                        <ul>
                            <li><%= link_to "Informacion", "https://www.facebook.com/GIANTARABANI", :target => "_blank" %></li>
                            <li><%= link_to "Staff", "https://www.facebook.com/GIANTARABANI", :target => "_blank" %></li>
                            <li><%= link_to "Terminos & Condiciones", "https://www.facebook.com/GIANTARABANI", :target => "_blank" %></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title"></h6>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <ul>
                          <li><%= image_tag("Gian_Tara_Bani_logo_navbar.png", alt: "image", style: 'width: 150px; height: 150px') %></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="copyright text-center text-lg-left mt-10">
                        <p class="text">Crafted by <a style="color: rgb(27, 154, 171)" rel="nofollow" href="https://www.christian-zamora.com" target="_blank"> Christian Zamora</a> with Airo&UiDeck Elements</p>
                    </div> <!--  copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
  </footer>